/*css for the index page*/

body {
  background-color: rgba(128, 0, 0, 0.332);
}

.main-container {
  text-align: center;
}

.header {
  text-align: center;
}

.links-for-pages {
  display: flex;

  justify-content: center;
}
h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
ul {
  margin-left: 300px;
  margin-right: 300px;
  padding-left: auto;
  padding-right: auto;
}

.main-text {
  display: flex;

  margin-left: 300px;
  margin-right: 300px;
  display: block;
}

.steps-header {
  text-align: center;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
}
